<%- include('./partials/header.ejs') %>
    <section
        class="flex flex-row justify-start h-screen bg-gradient-to-tr from-cinza-secundario to-cinza-principal w-full max-h-screen">
        <section
            class="hidden md:flex bg-gradient-to-b from-azul-principal to-azul-nav-fim  flex-col p-5 h-screen gap-10">
            <%- include('./partials/navBar.ejs') %>
        </section>
        <section class="flex flex-col w-full">
            <section class="flex flex-row items-center justify-between h-fit p-6 gap-32">
                <div class="flex flex-row items-center gap-5 w-full max-w-7xl">
                    <%- include('./partials/headerBar.ejs') %>
                </div>
            </section>
            <section class="flex flex-col gap-5 overflow-hidden">
                <!-- Dashboard Principal -->
                <section class="grid grid-cols-2 px-5 gap-1">
                    <div class="bg-gradient-to-r from-laranja-s h-fit to-laranja-e p-5 rounded-xl">
                        <p class="text-4xl text-white">Bloqueios</p>
                        <p class="text-2xl text-white">Acesso aos dados de bloqueio manuais e automáticos.</p>
                    </div>
                </section>
                <section class="flex flex-row gap-x-5 px-5 max-h-screen">
                    <div class="Flex flex-col">
                        <div class="flex flex-row justify-between pb-3 ">
                            <h3 class="text-azul-text text-lg font-bold">Editar bloqueios de URL</h3>
                            <div class="flex flex-row justify-center items-center gap-3">
                                <button onclick="ordenarURLs()"
                                    class="rounded  text-white w-max p-3 bg-azul-buttom">Ordenar
                                    URL's</button>
                                <button class="rounded  text-white w-max p-3 bg-azul-buttom"><img
                                        src="/icons/edit.svg"></button>
                                <button class="rounded  text-white w-max p-3 bg-azul-buttom"><img
                                        src="/icons/delete.svg"></button>
                            </div>
                        </div>
                        <div class="bg-white rounded-xl w-max p-5 gap-5 overflow-x-auto h-full max-h-100">
                            <table class="table-auto w-full border-separate border-spacing-2 ">
                                <thead>
                                    <tr class="text-azul-text">
                                        <th>Tipo Disp.</th>
                                        <th>URL Bloqueado</th>
                                        <th>Data</th>
                                        <th>Tipo Bloq.</th>
                                        <th>Selec./Editar</th>
                                    </tr>
                                </thead>
                                <tbody class="text-azul-text">
                                    <% bloq.forEach(bloq=> { %>
                                        <tr class="bloqueio-row border-b justify-self-center  ">
                                            <td class=" flex flex-col items-center justify-center"><img
                                                    src="/icons/iconDesktop.svg"></td>
                                            <td class="url font-bold">
                                                <%= bloq.URL%>
                                            </td>
                                            <td>
                                                <%= bloq.DataHora%>
                                            </td>
                                            <td class="font-bold">Automático</td>
                                            <td class="grid grid-cols-2">
                                                <input class="cursor-pointer" type="checkbox" name="select">
                                                <select>
                                                    <option class="rotate-180" value="">^</option>
                                                    <option value="details">Detalhes</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <div class="p-3 gap-5">
                            <h3 class="text-azul-text font-bold text-lg">Bloqueio Manual</h3>
                        </div>
                        <div class="flex flex-col bg-white rounded-xl p-5 max-w-full h-full max-h-100 gap-5 justify-between">
                            <div class="flex flex-col gap-5" >
                                <input type="text" placeholder="URL" class="border-2 border-azul-cinza-claro text-azul-text w-full h-fit p-3 rounded-xl" >
                                <input type="text" placeholder="Motivo (opcional)" class="border-2 border-azul-cinza-claro text-azul-text w-full h-fit p-3 rounded-xl" >
                                <input type="text" placeholder="Período" class="border-2 border-azul-cinza-claro text-azul-text w-full h-fit p-3 rounded-xl" >
                            </div>
                            <div>
                                <button class="text-white bg-azul-buttom w-full h-fit rounded-xl p-3">Adicionar Bloqueio Manual</button>
                            </div>
                        </div>
                    </div>
                </section>

            </section>
        </section>
    </section>
    <%- include('./partials/footer.ejs') %>