<%- include('./partials/header.ejs') %>
    <section
        class="flex flex-row justify-start h-screen bg-gradient-to-tr from-cinza-secundario to-cinza-principal w-full max-h-screen">
        <%- include('./partials/navBar.ejs') %>
            <section class="flex flex-col w-full">
                <section class="flex flex-row items-center justify-between h-fit p-6 gap-32">
                    <div class="flex flex-row items-center gap-5 w-full max-w-7xl">
                        <%- include('./partials/headerBar.ejs') %>
                    </div>
                </section>
                <section class="grid grid-cols-2">
                    <!-- Dashboard Principal -->
                    <section class="grid grid-flow-row px-10 gap-1">

                        <!-- Bem-vindo -->
                        <div class="bg-gradient-to-r from-laranja-s h-fit to-laranja-e p-5 rounded-xl">
                            <p class="text-4xl text-white">Olá,<%= usuario.nome%>
                            </p>
                            <p class="text-2xl text-white">Bem-vindo de volta ao seu dashboard.</p>
                        </div>

                        <!-- Atividade Recente -->
                        <div class="bg-azul-principal rounded-xl h-max">
                            <div class="flex flex-row justify-between p-3">
                                <p class="text-white text-base p-3 text-center">Atividade recente</p>
                                <!-- Select Filtro -->
                                <select
                                    class="bg-azul-principal cursor-pointer hover:brightness-75 duration-300 text-white text-base border-white border">
                                    <option value="Mes">Este Mês</option>
                                    <option value="Mes">Hoje</option>
                                    <option value="Mes">Esta Semana</option>
                                </select>
                            </div>
                            <!-- Atividades -->
                            <div class="bg-white h-max rounded-b-xl gap-5">
                                <div class="flex flex-row justify-between p-3 items-center">
                                    <div class="flex flex-row justify-start items-center gap-5">
                                        <div class="border-2 border-azul-principal rounded-full p-2 ">
                                            <img src="/icons/bloqueio-blue.svg" class="size-5" alt="">
                                        </div>
                                        <p class="text-sm text-azul-text">Novo bloqueio realizado automaticamente
                                            pelo sistema</p>
                                    </div>
                                    <p class="text-sm text-azul-text">22/03/24</p>
                                </div>
                                <hr>
                                <div class="flex flex-row justify-between p-3 items-center">
                                    <div class="flex flex-row justify-start items-center gap-5">
                                        <div class="border-2 border-azul-principal rounded-full p-2 ">
                                            <img src="/icons/PC-blue.svg" class="size-5" alt="">
                                        </div>
                                        <p class="text-sm text-azul-text">Novo dispositivo desktop cadastrado</p>
                                    </div>
                                    <p class="text-sm text-azul-text">22/03/24</p>
                                </div>
                                <hr>
                                <div class="flex flex-row justify-between p-3 items-center">
                                    <div class="flex flex-row justify-start items-center gap-5">
                                        <div class="border-2 border-azul-principal rounded-full p-2 ">
                                            <img src="/icons/plus-blue.svg" class="size-5" alt="">
                                        </div>
                                        <p class="text-sm text-azul-text">Nova exceção adicionada manualmente</p>
                                    </div>
                                    <p class="text-sm text-azul-text">21/03/24</p>
                                </div>
                                <hr>
                                <div class="flex flex-row justify-between p-3 items-center">
                                    <div class="flex flex-row justify-start items-center gap-5">
                                        <div class="border-2 border-azul-principal rounded-full p-2 ">
                                            <img src="/icons/Celular-blue.svg" class="size-5" alt="">
                                        </div>
                                        <p class="text-sm text-azul-text">Novo dispositivo móvel cadastrado</p>
                                    </div>
                                    <p class="text-sm text-azul-text">20/03/24</p>
                                </div>
                                <hr>
                                <div class="flex flex-row justify-between p-3 items-center">
                                    <div class="flex flex-row justify-start items-center gap-5">
                                        <div class="border-2 border-azul-principal rounded-full p-2 ">
                                            <img src="/icons/user-blue.svg" class="size-5" alt="">
                                        </div>
                                        <p class="text-sm text-azul-text">Novo usuário criado pelo administrador</p>
                                    </div>
                                    <p class="text-sm text-azul-text">17/03/24</p>
                                </div>
                                <hr>
                            </div>
                        </div>

                        <!-- Bloqueios Gerais -->
                        <div class="bg-azul-principal rounded-xl h-max">
                            <div class="flex flex-row justify-between p-3">
                                <p class="text-white text-base p-3 text-center">Visão Geral de Bloqueios</p>
                            </div>
                            <div
                                class="bg-gradient-to-l h-full flex flex-row rounded-b-xl  to-azul-gradiente-inicio from-azul-gradiente-final">
                                <div class="bg-white h-full rounded-b-xl gap-5 gap-x-10 flex flex-row p-5">
                                    <img src="/icons/Rectangle.svg" alt="">
                                    <div class="flex flex-col gap-3 items-center self-center">
                                        <div class="flex flex-row gap-2">
                                            <p class="text-4xl text-azul-text ">462 </p>
                                            <p class="text-azul-text text-base">Bloq. <br> totais</p>
                                        </div>
                                        <div class="flex flex-row gap-2">
                                            <p class="text-red-500">+23%</p>
                                            <p class="text-azul-text text-base">Neste Mês</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <img src="/icons/Rectangle.svg" alt="">
                                    <div class="flex flex-col gap-3 items-center self-center">
                                        <div class="flex flex-row gap-2 items-center">
                                            <img class=" size-5" src="/icons/arrowup.svg">
                                            <p class="text-4xl text-azul-text ">26% </p>
                                        </div>
                                        <div class="flex flex-row gap-2">
                                            <p class="text-azul-text text-base">Desde o último mês</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col justify-center mx-auto gap-5">
                                    <div class="text-center flex- flex-row justify-center">
                                        <p class="text-4xl text-white px-5">381 <span class="text-base">em
                                                maio</span></p>
                                    </div>
                                    <hr>
                                    <div class="text-center flex- flex-row justify-center">
                                        <p class="text-4xl text-white px-5">428 <span class="text-base">em
                                                abril</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Dashboard Direito -->
                    <section class="flex flex-col px-10 gap-1">
                        <!-- Graficos de Incidencia por sala -->
                        <div class="grid grid-flow-row gap-5 flex-nowrap">
                            <p class="text-lg text-azul-text">Nível de incidência por sala/laboratório</p>
                            <!-- Graficos -->
                            <div class="grid grid-cols-4 gap-3">
                                <!-- Lab-01 -->
                                <div class="bg-azul-principal rounded-xl">
                                    <p class="text-white text-base p-3 text-center">Laboratório 01</p>
                                    <!-- canvas -->
                                    <div
                                        class="bg-white h-max rounded-b-xl flex flex-row justify-center items-center p-2">
                                        <canvas id="grafico-1" class="w-max h-max"></canvas>
                                        <p class="text-azul-text text-xl absolute z-10">42%</p>
                                        <!-- Script lab-01 -->
                                        <script>
                                            const ctx = document.getElementById('grafico-1');

                                            new Chart(ctx, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        label: 'Lab-02',
                                                        data: [100 - 42, 42], // Invertemos a ordem dos valores
                                                        borderWidth: 1,
                                                        backgroundColor: [
                                                            '#DEE4F7',
                                                            '#F23A13',
                                                        ]
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false // Oculta a legenda
                                                        },
                                                        tooltip: {
                                                            enabled: false // Desabilita as dicas de ferramentas
                                                        },
                                                    },
                                                    cutout: '65%' // Define a porcentagem de corte
                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!-- Lab-02 -->
                                <div class="bg-azul-principal rounded-xl">
                                    <p class="text-white text-base p-3 text-center">Laboratório 02</p>
                                    <!-- canvas -->
                                    <div
                                        class="bg-white h-max rounded-b-xl flex flex-row justify-center items-center p-2">
                                        <canvas id="grafico-2" class="w-max h-max"></canvas>
                                        <p class="text-azul-text text-xl absolute z-10">20%</p>
                                        <!-- script lab-02 -->
                                        <script>
                                            const ctx2 = document.getElementById('grafico-2');

                                            new Chart(ctx2, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        label: 'Lab-02',
                                                        data: [100 - 20, 20], // Invertemos a ordem dos valores
                                                        borderWidth: 1,
                                                        backgroundColor: [
                                                            '#DEE4F7',
                                                            '#F23A13',
                                                        ]
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false // Oculta a legenda
                                                        },
                                                        tooltip: {
                                                            enabled: false // Desabilita as dicas de ferramentas
                                                        },
                                                    },
                                                    cutout: '65%' // Define a porcentagem de corte

                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!-- Lab-03 -->
                                <div class="bg-azul-principal rounded-xl">
                                    <p class="text-white text-base p-3 text-center">Laboratório 03</p>
                                    <!-- Canvas -->
                                    <div
                                        class="bg-white h-max rounded-b-xl flex flex-row justify-center items-center p-2">
                                        <canvas id="grafico-3" class="w-max h-max"></canvas>
                                        <p class="text-azul-text text-xl absolute z-10">18%</p>
                                        <!-- Script Lab-03 -->
                                        <script>
                                            const ctx3 = document.getElementById('grafico-3');

                                            new Chart(ctx3, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        label: 'Lab-03',
                                                        data: [100 - 18, 18], // Invertemos a ordem dos valores
                                                        borderWidth: 1,
                                                        backgroundColor: [
                                                            '#DEE4F7',
                                                            '#F23A13',
                                                        ]
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false // Oculta a legenda
                                                        },
                                                        tooltip: {
                                                            enabled: false // Desabilita as dicas de ferramentas
                                                        },
                                                    },
                                                    cutout: '65%' // Define a porcentagem de corte

                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!-- Lab-04 -->
                                <div class="bg-azul-principal rounded-xl">
                                    <p class="text-white text-base p-3 text-center">Laboratório 04</p>
                                    <!-- Canvas -->
                                    <div
                                        class="bg-white h-max rounded-b-xl flex flex-row justify-center items-center p-2">
                                        <canvas id="grafico-4" class="w-max h-max"></canvas>
                                        <p class="text-azul-text text-xl absolute z-10">24%</p>
                                        <!-- Script Lab-04 -->
                                        <script>
                                            const ctx4 = document.getElementById('grafico-4');

                                            new Chart(ctx4, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        label: 'Lab-04',
                                                        data: [100 - 24, 24], // Invertemos a ordem dos valores
                                                        borderWidth: 1,
                                                        backgroundColor: [
                                                            '#DEE4F7',
                                                            '#F23A13',
                                                        ]
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false // Oculta a legenda
                                                        },
                                                        tooltip: {
                                                            enabled: false // Desabilita as dicas de ferramentas
                                                        },
                                                    },
                                                    cutout: '65%' // Define a porcentagem de corte

                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="grid grid-cols-4 gap-3">
                                <!-- Lab-05 -->
                                <div class="bg-azul-principal rounded-xl">
                                    <p class="text-white text-base p-3 text-center">Laboratório 05</p>
                                    <!-- Canvas -->
                                    <div
                                        class="bg-white h-max rounded-b-xl flex flex-row justify-center items-center p-2">
                                        <canvas id="grafico-5" class="w-max h-max"></canvas>
                                        <p class="text-azul-text text-xl absolute z-10">68%</p>
                                        <!-- script Lab-05 -->
                                        <script>
                                            const ctx5 = document.getElementById('grafico-5');

                                            new Chart(ctx5, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        label: 'Lab-05',
                                                        data: [100 - 68, 68], // Invertemos a ordem dos valores
                                                        borderWidth: 1,
                                                        backgroundColor: [
                                                            '#DEE4F7',
                                                            '#F23A13',
                                                        ]
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false // Oculta a legenda
                                                        },
                                                        tooltip: {
                                                            enabled: false // Desabilita as dicas de ferramentas
                                                        },
                                                    },
                                                    cutout: '65%' // Define a porcentagem de corte

                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!-- Lab-06 -->
                                <div class="bg-azul-principal rounded-xl">
                                    <p class="text-white text-base p-3 text-center">Laboratório 06</p>
                                    <!-- Canvas -->
                                    <div
                                        class="bg-white h-max rounded-b-xl flex flex-row justify-center items-center p-2">
                                        <canvas id="grafico-6" class="w-max h-max"></canvas>
                                        <p class="text-azul-text text-xl absolute z-10">22%</p>
                                        <!-- Script Lab-06 -->
                                        <script>
                                            const ctx6 = document.getElementById('grafico-6');

                                            new Chart(ctx6, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        label: 'Lab-06',
                                                        data: [100 - 22, 22], // Invertemos a ordem dos valores
                                                        borderWidth: 1,
                                                        backgroundColor: [
                                                            '#DEE4F7',
                                                            '#F23A13',
                                                        ]
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false // Oculta a legenda
                                                        },
                                                        tooltip: {
                                                            enabled: false // Desabilita as dicas de ferramentas
                                                        },
                                                    },
                                                    cutout: '65%' // Define a porcentagem de corte

                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!-- Lab-Professores -->
                                <div class="bg-azul-principal rounded-xl">
                                    <p class="text-white text-base p-3 text-center">Sala dos Professores</p>
                                    <!-- canvas -->
                                    <div
                                        class="bg-white h-max rounded-b-xl flex flex-row justify-center items-center p-2">
                                        <canvas id="grafico-7" class="w-max h-max"></canvas>
                                        <p class="text-azul-text text-xl absolute z-10">8%</p>
                                        <!-- script lab-professores -->
                                        <script>
                                            const ctx7 = document.getElementById('grafico-7');

                                            new Chart(ctx7, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        label: 'Lab-Professores',
                                                        data: [100 - 8, 8], // Invertemos a ordem dos valores
                                                        borderWidth: 1,
                                                        backgroundColor: [
                                                            '#DEE4F7',
                                                            '#F23A13',
                                                        ]
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false // Oculta a legenda
                                                        },
                                                        tooltip: {
                                                            enabled: false // Desabilita as dicas de ferramentas
                                                        },
                                                    },
                                                    cutout: '65%' // Define a porcentagem de corte

                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                                <!-- Lab-Movel -->
                                <div class="bg-azul-principal rounded-xl">
                                    <p class="text-white text-base p-3 text-center">Laboratório Móvel</p>
                                    <!-- canvas -->
                                    <div
                                        class="bg-white h-max rounded-b-xl flex flex-row justify-center items-center p-2">
                                        <canvas id="grafico-8" class="w-max h-max"></canvas>
                                        <p class="text-azul-text text-xl absolute z-10">30%</p>
                                        <!-- script lab-movel -->
                                        <script>
                                            const ctx8 = document.getElementById('grafico-8');

                                            new Chart(ctx8, {
                                                type: 'doughnut',
                                                data: {
                                                    datasets: [{
                                                        label: 'Lab-movel',
                                                        data: [100 - 30, 30], // Invertemos a ordem dos valores
                                                        borderWidth: 1,
                                                        backgroundColor: [
                                                            '#DEE4F7',
                                                            '#F23A13',
                                                        ]
                                                    }]
                                                },
                                                options: {
                                                    plugins: {
                                                        legend: {
                                                            display: false // Oculta a legenda
                                                        },
                                                        tooltip: {
                                                            enabled: false // Desabilita as dicas de ferramentas
                                                        },
                                                    },
                                                    cutout: '65%' // Define a porcentagem de corte

                                                }
                                            });
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tabelas -->
                        <div class="grid grid-cols-2 gap-3">
                            <div class="flex flex-col">
                                <p class="text-azul-text text-base">Ativos Agora</p>
                                <div
                                    class="flex flex-col rounded-xl bg-white p-3 justify-center items-center text-center">
                                    <table class="text-azul-text text-base gap-5">
                                        <thead class="font-bold">
                                            <td class="px-3">Nome</td>
                                            <td class="px-3">Qtde. Disp.</td>
                                            <td class="px-3">Status</td>
                                        </thead>

                                        <tbody class="border-b gap-5 hover:bg-slate-200 cursor-pointer">
                                            <tr>
                                                <td class="px-3">Laboratório 01</td>
                                                <td class="px-3">35</td>
                                                <td class="px-3 flex flex-row items-center justify-center"><img
                                                        class="size-5" src="/icons/status-green.svg">
                                                </td>
                                            </tr>
                                            <tr class="border-b gap-5 hover:bg-slate-200 cursor-pointer">
                                                <td class="px-3">Laboratório 02</td>
                                                <td class="px-3">34</td>
                                                <td class="px-3 flex flex-row items-center justify-center"><img
                                                        class="size-5" src="/icons/status-green.svg">
                                                </td>
                                            </tr>
                                            <tr class="border-b gap-5 hover:bg-slate-200 cursor-pointer">
                                                <td class="px-3">Laboratório 03</td>
                                                <td class="px-3">20</td>
                                                <td class="px-3 flex flex-row items-center justify-center"><img
                                                        class="size-5" src="/icons/status-red.svg">
                                                </td>
                                            </tr>
                                            <tr class="border-b gap-5 hover:bg-slate-200 cursor-pointer">
                                                <td class="px-3">Laboratório 04</td>
                                                <td class="px-3">10</td>
                                                <td class="px-3 flex flex-row items-center justify-center"><img
                                                        class="size-5" src="/icons/status-red.svg">
                                                </td>
                                            </tr>
                                            <tr class="border-b gap-5 hover:bg-slate-200 cursor-pointer">
                                                <td class="px-3">Laboratório 05</td>
                                                <td class="px-3">16</td>
                                                <td class="px-3 flex flex-row items-center justify-center"><img
                                                        class="size-5" src="/icons/status-green.svg">
                                                </td>
                                            </tr>
                                            <tr class="border-b gap-5 hover:bg-slate-200 cursor-pointer">
                                                <td class="px-3">Laboratório 06</td>
                                                <td class="px-3">22</td>
                                                <td class="px-3 flex flex-row items-center justify-center"><img
                                                        class="size-5" src="/icons/status-green.svg">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <img class="size-5" src="/icons/arrowDown.svg" alt="">
                                </div>
                            </div>
                            <div class="flex flex-col">
                                <p>Histórico por data</p>
                                <div
                                    class="flex flex-col rounded-xl bg-white p-3 justify-between items-center text-center w-full h-max">
                                    <div class="flex flex-row w-full items-center justify-evenly">
                                        <img class="cursor-pointer hover:scale-105 duration-300 size-4 rotate-90"
                                            src="/icons/arrowDown.svg" alt="">
                                        <p class="text-azul-text text-base font-bold">Fevereiro</p>
                                        <img class="cursor-pointer hover:scale-105 duration-300 size-4 -rotate-90"
                                            src="/icons/arrowDown.svg" alt="">
                                    </div>
                                    <div class="flex flex-col w-full h-full ">
                                        <table class="text-azul-text text-base w-full h-full flex flex-col">
                                            <thead class="font-bold ">
                                                <td class=" px-5 hover:bg-slate-200">D</td>
                                                <td class=" px-5 hover:bg-slate-200">S</td>
                                                <td class=" px-5 hover:bg-slate-200">T</td>
                                                <td class=" px-5 hover:bg-slate-200">Q</td>
                                                <td class=" px-5 hover:bg-slate-200">Q</td>
                                                <td class=" px-5 hover:bg-slate-200">S</td>
                                                <td class=" px-5 hover:bg-slate-200">S</td>
                                            </thead>
                                            <tbody class="border-b  cursor-pointer">
                                                <tr>
                                                    <td class="py-1 px-5opacity-75 hover:bg-slate-200">28</td>
                                                    <td class="py-1 px-5opacity-75 hover:bg-slate-200">29</td>
                                                    <td class="py-1 px-5opacity-75 hover:bg-slate-200">30</td>
                                                    <td class="py-1 px-5opacity-75 hover:bg-slate-200">31</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">01</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">02</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">03</td>
                                                </tr>
                                                <tr class="border-b  cursor-pointer">
                                                    <td class="py-1 px-5hover:bg-slate-200">04</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">05</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">06</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">07</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">08</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">09</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">10</td>
                                                </tr>
                                                <tr class="border-b  cursor-pointer">
                                                    <td class="py-1 px-5hover:bg-slate-200">11</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">12</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">13</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">14</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">15</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">16</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">17</td>
                                                </tr>
                                                <tr class="border-b  cursor-pointer">
                                                    <td class="py-1 px-5hover:bg-slate-200">18</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">19</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">20</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">21</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">22</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">23</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">24</td>
                                                </tr>
                                                <tr class="border-b  cursor-pointer">
                                                    <td class="py-1 px-5hover:bg-slate-200 ">25</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">26</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">27</td>
                                                    <td class="py-1 px-5 bg-azul-principal text-white">28</td>
                                                    <td class="py-1 px-5hover:bg-slate-200">29</td>
                                                    <td class="py-1 px-5opacity-75 hover:bg-slate-200">01</td>
                                                    <td class="py-1 px-5opacity-75 hover:bg-slate-200">02</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>
                </section>
            </section>
    </section>
    <%- include('./partials/footer.ejs') %>